# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lambda
*.zip

# Environment
.env
.env.local
*.tfvars
!terraform.tfvars.example

# Docker
*.tar

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini
